# Build directories
bin/
obj/

# Visual Studio / Rider / VSCode files
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/

# NuGet
*.nupkg
packages/
.nuget/

# Logs
*.log
.env

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# Secret or config files (optional)
appsettings.Development.json
 